html, body {
  height: 100%;
}

body {
  background-color: #111;
  margin: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 850px;
  margin: 0 auto;
  height: 100vh;
}

.select {
  margin: 35px 0;
  display: block;
  flex-basis: 100%;
}

.characters {
  opacity: 0;
  transition: opacity, 2s;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.character {
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: .2;
  display: inline-block;
  margin: 10px;
}

.selected[data-character='c3po'] {
   animation: glow-c3po .2s linear 1 forwards;
}

.selected[data-character='chewbacca'] {
   animation: glow-chewbacca .2s linear 1 forwards;
}

.selected[data-character='darth-vader'] {
    animation: glow-darth-vader .2s linear 1 forwards;
}

.selected[data-character='han'] {
    animation: glow-han .2s linear 1 forwards;
}

.selected[data-character='leia'] {
    animation: glow-leia .2s linear 1 forwards;
}

.selected[data-character='luke'] {
    animation: glow-luke .2s linear 1 forwards;
}

.selected[data-character='r2d2'] {
    animation: glow-r2d2 .2s linear 1 forwards;
}

.selected[data-character='stormtrooper'] {
    animation: glow-stormtrooper .2s linear 1 forwards;
}

.selected[data-character='obi-wan'] {
    animation: glow-obi-wan .2s linear 1 forwards;
}

.selected[data-character='yoda'] {
    animation: glow-yoda .2s linear 1 forwards;
}

/*The ideal*/

/*@keyframe glow {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px $lightsabreColor));
    transform: scale(1.1, 1.1);
  }
}*/

@keyframes glow-c3po {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px rgba(250, 255, 116,.5));
    transform: scale(1.1, 1.1);
  }
}

@keyframes glow-chewbacca {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 255, 0,.5));
    transform: scale(1.1, 1.1);
  }
}

@keyframes glow-darth-vader {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px rgba(237, 0, 0,.5));
    transform: scale(1.1, 1.1);
  }
}

@keyframes glow-han {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 104, 255,.5)); 
    transform: scale(1.1, 1.1);
  }
}

@keyframes glow-leia {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px rgba(250, 250, 249,.5)); 
    transform: scale(1.1, 1.1);
  }
}

@keyframes glow-luke {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 255, 0,.5)); 
    transform: scale(1.1, 1.1);
  }
}

@keyframes glow-r2d2 {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px rgba(114, 0, 151, .7));
    transform: scale(1.1, 1.1);
  }
}

@keyframes glow-stormtrooper {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px rgba(237, 0, 0,.5));  
    transform: scale(1.1, 1.1);
  }
}

@keyframes glow-obi-wan {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 104, 255, .6));  
    transform: scale(1.1, 1.1);
  }
}

@keyframes glow-yoda {
  100% {
    opacity: 1;
    -webkit-filter: drop-shadow(0 0 15px rgba(0, 255, 0,.5));  
    transform: scale(1.1, 1.1);
  }
}

/* 
 light sabers
  red: rgba(237, 0, 0,.5)
  green: rgba(0, 255, 0,.5)
  orange: rgba(247, 145, 0,.5)
  yellow: rgba(250, 255, 116,.5)
  purple: rgba(114, 0, 151,.5)
  white: rgba(250, 250, 249,.5)
  blue: rgba(0, 104, 255,.5)
*/